<div th:fragment="content" class="container">
    <div class="d-flex justify-content-end">
        <a th:href="@{/homepage/add}" class="btn btn-primary mt-4">Add a Pizza</a>
    </div>
    <table class="table my-4 border shadow p-3 mb-5 bg-body-tertiary rounded" th:if="${pizze.size() > 0}">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ingredienti</th>
                <th class="text-center">Prezzo</th>
                <th class="text-center">Vedi dettagli</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pizza : ${pizze}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td class="text-center" th:text="|${pizza.price} €|"></td>
                <td class="text-center">
                    <a th:href="@{/homepage/{id}(id=${pizza.id})}">
                        <i class="fa-solid fa-link"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 th:unless="${pizze.size() > 0}" class="alert alert-warning mt-5 text-center" role="alert">
        There are no pizzas available
    </h2>
</div>







