<div th:fragment="content" class="container text-center">
    <div class="row justify-content-center" th:if="${pizze.size() > 0}">
        <div th:each="pizza : ${pizze}" class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4 d-flex justify-content-center">
            <div class="zoom-object card mt-5" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center" th:text="${pizza.name}"></h5>
                    <img th:src="${pizza.photo}"
                        alt="immagine_pizza" class="card-img d-block mx-auto my-4">
                    <p class="card-text text-center mt-auto">Ingredienti: <br>[[${pizza.description}]]</p>
                    <p class="card-text text-center mb-3">Prezzo: <br>[[|${pizza.price} €|]]</p>
                    <div class="mt-auto d-flex justify-content-around">
                        <a th:href="@{/homepage/{id}(id=${pizza.id})}" role="button" class="card-link btn btn-primary">See details</a>
                        <a href="#" class="card-link btn btn-primary disabled" role="button" aria-disabled="true">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 th:unless="${pizze.size() > 0}" class="alert alert-warning mt-5 text-center" role="alert">
        There are no pizzas in the menu
    </h2>
</div>