<nav th:fragment="navbar" class="navbar bg-dark bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/homepage}">
      <img th:src="@{/img/pizza_logo.png}" alt="Logo" width="90" class="d-inline-block align-text-top">
    </a>
    <form th:action="@{/homepage/search}" method="get" class="d-flex" role="search">
      <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>